.header{
    background-color: grey;
    display:flex;
    align-items: center;
    position:sticky;
    top:10px;
    z-index: 100;

}
.header__search{ 
    display: flex;
    margin-left: 25%;
}

.header__name{
    /* display: flex;
    flex-direction: column; */
    margin-left: 10px;
    margin-right: 10px;
    color: blue;

}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: 100%;
}
.header__searchIcon{
    padding:5px;
    height:22px !important;
    background-color: coral;

}
.header__option{
    /* display: flex;
    flex-direction: column; */
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(38, 0, 255)
}
.header__link{
    color: white;
    text-decoration: none;
    margin-left: 40%; 
}

.Checkout__link{
    margin-left: 4%;
}


.login{
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
}
.header__optionBasket{
    display: flex;
    align-items: center;

}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}